.zhiroo__header {
    display: flex;
    
}
.zhiroo__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}
.zhiroo__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}
.zhiroo__header-content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    
    margin-top: 1.5rem;
}
.zhiroo__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}
.zhiroo__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    padding: 0 1rem;
    border: 2px solid var(--color-footer);
    background: var(--color-footer);
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.zhiroo__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    border: none;
    background: #550817;
    font-family: var(--font-family);
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
}
.zhiroo__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}
.zhiroo__header-content__people img {
    width: 181px;
    height: 38px;
}
.zhiroo__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.zhiroo__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zhiroo__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .zhiroo__header {
        flex-direction : column;
    }
    .zhiroo__header-content {
        margin: 0 0 3rem;
    }
    .zhiroo__header-image {
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .zhiroo__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .zhiroo__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .zhiroo__header-content__people {
        flex-direction: column;
    }
    .zhiroo__header-content__people p{
        margin: 0;
    }
    .zhiroo__header-content__input input,
    .zhiroo__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 490px) { 
    .zhiroo__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .zhiroo__header p {
        font-size: 14px;
        line-height: 24px;
    }
    .zhiroo__header-content__input input,
    .zhiroo__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}